/* CSS declarations go here */
* {
	box-sizing: border-box;
}
div.twitter {
	float: right;
	width: 300px;
}
.hidden {
	display: none;
}
div.topic {
	display: block;
	border: solid #aaa 1px;
	padding: 15px;
	margin: 10px auto;
	width: 632px;
}
div.topic h4,
div.topic p {
	margin: 5px;
}
label {
	display: inline-block;
	width: 85px;
	font-weight: bold;
}
div.topic form input[type=text].title {
	width: 515px;
}
div.topic form textarea.description {
	width: 600px;
	height: 80px;
}
